@media (orientation: portrait) {
    .popup-container {
        width: 92vmin;
    }
}

@media (orientation: landscape) {
    .popup-container {
        width: 50vmax;
    }
}

.header {
    background-image: url('../images/banner-mobile.jpg');
}

.header-container {
    padding-top: 4%;
    max-width: 92%;
}

.navigation-container {
    flex-direction: column;
}

.drop-menu {
    order: 1;
    margin-bottom: 55%;
    align-self: flex-end;
}

.submenu {
    width: 50vmin;
    margin-left: -200%;
}

.menu {
    display: none;
    visibility: hidden;
    order: 1;
}

.header-logo-wrapper {
    max-width: 75%;
    min-width: 75%;
    order: 2;
}

.header-title-text {
    font-size: 2.6rem;
    max-width: 78%;
    padding: 13.8% 0 69% 0;
}

.block-title {
    font-size: 1.6rem;
}

.trend-posts {
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
}

.trend-post {
    box-sizing: border-box;
    width: 100%;
    margin-bottom: .5%;
    padding: 4.5%;
}

.trend-post-content {
    padding: 6% 7%;
}

.trend-post:nth-child(n+2) {
    margin-left: 0;
}

.trend-post-title {
    font-size: 1.6rem;
}

.container {
    max-width: 100%;
    flex-direction: column;
    padding: 0 15px;
}

.main-post {
    flex-direction: column;
    width: 100%;
    padding-bottom: 8%;
    border-bottom: 3px solid #eeeeee;
}

.main-post:not(:last-child) {
    margin-bottom: 11%;
}

.article-img {
    margin-right: 0;
    max-width: 100%;
    min-width: 100%;
    margin-bottom: 3.5%;
}

.post-img {
    display: block;
    width: 100%;
    object-fit: cover;
    object-position: center;
}

.article-name {
    font-size: 1.6rem;
    line-height: 1.2;
    margin-bottom: 9%;
}

.post-data {
    margin-bottom: 9%;
}

.sidebar {
    width: 100%;
    flex-direction: column;
    margin: 14% 0;
}

.sidebar-item {
    margin-bottom: 14%;
}

.sidebar-item:last-child {
    margin-bottom: 0;
}

.goods-bar {
    max-width: 100%;
    padding: 0 15px;
}

.goods-posts {
    display: flex;
    flex-direction: column;
}

.goods-post {
    width: 100%;
}

.goods-post:nth-child(n+2) {
    margin-left: 0;
}

.goods-post:nth-child(3n+1),
.goods-post:nth-child(3n+2) {
    margin-bottom: 6%;
}

.footer {
    margin-top: 10%;
    text-align: center;
}

.footer-wrapper {
    max-width: 100%;
    padding: 0 15px;
}

.socials-container {
    padding-top: 4.7%;
    padding-bottom: 4.7%;
    background-color: #f4f7f6;
}

.socials-item:not(:last-child) {
    margin-right: 8.5%;
}

.copyright {
    padding-top: 6.6%;
}