.popup-container {
    max-width: 91%;
}

.popup-close {
    top: -30px;
    width: 30px;
    height: 30px;
}

.header {
    background-image: url('../images/banner-mobile.jpg');
}

.header-container {
    padding-top: 33px;
    max-width: 92%;
}

.navigation-container {
    flex-direction: column;
}

.drop-menu {
    order: 1;
    margin-bottom: 170px;
    align-self: flex-end;
}

.topmenu>li>a {
    width: 20px;
}

.submenu {
    position: absolute;
    left: -40vmin;
    right: 0;
    top: 100%;
    width: 50vmin;
    margin-left: 0;
    text-align: end;
}

.menu {
    display: none;
    visibility: hidden;
    order: 1;
}

.header-logo-wrapper {
    width: 270px;
    order: 2;
}

.header-title-text {
    font-size: 2.6rem;
    max-width: 280px;
    padding: 13.8% 0 69% 0;
}

.block-title {
    font-size: 1.6rem;
}

.trend-posts {
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
}

.trend-post {
    box-sizing: border-box;
    width: 100%;
    margin-bottom: 3px;
    padding: 15px;
}

.trend-post-content {
    padding: 30px 15px;
}

.trend-post:nth-child(n+2) {
    margin-left: 0;
}

.trend-post-title {
    font-size: 1.6rem;
}

.container {
    max-width: 100%;
    flex-direction: column;
    padding: 0 15px;
}

.main-post {
    flex-direction: column;
    width: 100%;
    padding-bottom: 23px;
    border-bottom: 3px solid #eeeeee;
}

.main-post:not(:last-child) {
    margin-bottom: 35px;
}

.article-img {
    margin-right: 0;
    max-width: 100%;
    min-width: 100%;
    margin-bottom: 15px;
}

.post-img {
    display: block;
    width: 100%;
    object-fit: cover;
    object-position: center;
}

.article-name {
    font-size: 1.6rem;
    line-height: 1.2;
    margin-bottom: 25px;
}

.post-data {
    margin-bottom: 25px;
}

.sidebar {
    width: 100%;
    flex-direction: column;
    margin: 45px 0;
}

.sidebar-item {
    margin-bottom: 20px;
}

.sidebar-item:last-child {
    margin-bottom: 0;
}

.goods-bar {
    margin-top: 0;
    max-width: 100%;
    padding: 0 15px;
}

.goods-posts {
    display: flex;
    flex-direction: column;
}

.goods-post {
    width: 100%;
    margin-top: 30px;
}

.goods-post:nth-child(n+2) {
    margin-left: 0;
}

.goods-post:nth-child(3n+1),
.goods-post:nth-child(3n+2) {
    margin-bottom: 30px;
}

.goods-img {
    width: 90%;
    margin-bottom: -50px;
    object-fit: contain;
}

.footer {
    margin-top: 40px;
    text-align: center;
}

.footer-wrapper {
    max-width: 100%;
    padding: 0 15px;
}

.socials-container {
    padding-top: 30px;
    padding-bottom: 30px;
    background-color: #f4f7f6;
}

.copyright {
    padding-top: 50px;
    padding-bottom: 50px;
}