.popup-container {
    max-width: 390px;
}

.popup-close {
    top: -30px;
    width: 30px;
    height: 30px;
}

.header {
    background-image: url('../images/banner-bg-tablet.jpg');
}

.header-container {
    padding-top: 45px;
    max-width: 90%;
}

.menu {
    display: none;
    visibility: hidden;
}

.header-logo-wrapper {
    max-width: 160px;
}

.header-title-text {
    font-size: 4rem;
}

.trend-posts-bar {
    margin: 50px 0;
}

.block-title {
    font-size: 1.8rem;
}

.trend-posts {
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
}

.trend-post {
    box-sizing: border-box;
    width: 49.8%;
    margin-bottom: 3px;
}

.trend-post:nth-child(n+2) {
    margin-left: 0;
}

.trend-post-title {
    font-size: 1.7rem;
}

.container {
    max-width: 100%;
    padding: 0 35px;
}

.main-post {
    flex-direction: column;
    width: 100%;
}

.main-post:not(:last-child) {
    border-bottom: 3px solid #eeeeee;
    padding-bottom: 20px;
    margin-bottom: 40px;
}

.article-img {
    margin-right: 0;
    max-width: 100%;
    min-width: 100%;
    margin-bottom: 15px;
}

.post-img {
    display: block;
    width: 100%;
    object-fit: cover;
    object-position: center;
}

.article-name {
    font-size: 1.7rem;
    line-height: 1.2;
    margin-bottom: 25px;
}

.post-data {
    margin-bottom: 25px;
}

.sidebar {
    margin-left: 35px;
    min-width: 272px;
    flex-shrink: 0;
}

.goods-bar {
    max-width: 100%;
    padding: 0 35px;
}

.goods-posts {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.goods-post {
    width: 47%;
}

.goods-post:nth-child(n+2) {
    margin-left: 0;
}

.goods-post:nth-child(3n+1),
.goods-post:nth-child(3n+2) {
    margin-bottom: 55px;
}

.goods-img {
    width: 90%;
    margin-bottom: -40px;
}

.footer {
    margin-top: 50px;
    text-align: center;
}

.footer-wrapper {
    max-width: 100%;
    padding: 0 35px;
}

.socials-container {
    padding-top: 25px;
    padding-bottom: 25px;
    background-color: #f4f7f6;
}

.copyright {
    padding-top: 50px;
    padding-bottom: 40px;
}